/* Custom Animation for smoother floating */
    @keyframes float {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }
    }

    .animate-float {
        animation: float 3s ease-in-out infinite;
    }

    @keyframes shadow-pulse {

        0%,
        100% {
            transform: scale(1);
            opacity: 0.4;
        }

        50% {
            transform: scale(0.8);
            opacity: 0.2;
        }
    }

    .animate-shadow {
        animation: shadow-pulse 3s ease-in-out infinite;
    }